{% extends 'base.html.twig' %}

{% block title %}Leave{% endblock %}

{% block javascripts %}
    <script src="{{ asset('path/to/your/script.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/navigation.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/leave.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include 'app/menu.html.twig'%}

    <div class="leave-container">
        <h1>Leave Request</h1>
        <form id="leave-form">
            <!-- Your form fields here -->

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}
